#main {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fhdqwalls.com%2Fwallpapers%2Fpubg-monochrome-4k-ko.jpg&f=1&nofb=1&ipt=9ccf49c6c1e5efc20bd9fafa0bb5f6d730797e259ea8d580d6be7ae7c4a73a28&ipo=images");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.group-header {
  font-size: 2.8em;
}

.group-points {
  font-size: 4em;
}

@media only screen and (min-width: 992px) {
  .group-header {
    font-size: 4em;
  }
  .group-points {
    font-size: 5em;
  }
}

@media only screen and (min-width: 1200px) {
  .group-header {
    font-size: 4.5em;
  }
  .group-points {
    font-size: 8em;
  }
}

#groups-row .card {
  background-color: rgba(241, 166, 58, 0.6);
  color: white;
}

/* #groups-row :nth-child(1) .card {
  background-color: rgb(247, 123, 123);
}
#groups-row :nth-child(2) .card {
  background-color: rgb(144, 144, 247);
}
#groups-row :nth-child(3) .card {
  background-color: rgb(144, 247, 158);
} */

.group-card:hover {
  border: 2px black solid;
}

.points-btn,
.fixed-values {
  font-size: 1.5em;
  min-width: 5em;
  margin: 0.5em 0.5em;
}
