#main {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media only screen and (max-width: 992px) {
  .group-header {
    font-size: 2.8em !important;
  }

  .group-points {
    font-size: 4em !important;
  }
}

@media only screen and (max-width: 1200px) {
  .group-header {
    font-size: 4em !important;
  }
  .group-points {
    font-size: 5em !important;
  }
}

@media only screen and (min-width: 1200px) {
  .group-header {
    font-size: 4.5em;
  }
  .group-points {
    font-size: 8em;
  }
}

.group-card:hover {
  border: 2px black solid;
}

.points-btn,
.fixed-values {
  font-size: 1.5em;
  min-width: 5em;
  margin: 0.5em 0.5em;
}

@font-face {
  font-family: "HeadlinerNo45"; /*a name to be used later*/
  src: local("HeadlinerNo45"),
    url("../counter/HeadlinerNo45.ttf") format("truetype");
}

#events-menu {
  /* box-shadow: ; */
  text-shadow: 1px 1px white;
}
