{% extends "layout.html" %}
{% load static %}

{% block headerinsert %}
{% if event.font_link %}
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="{{event.font_link}}" rel="stylesheet">
{% endif %}
<style>
	{% if event.bg_url %}
	#main {
		background-image: url({{event.bg_url}});
	}
	{% endif %}

	.group-card {
		{% if event.font %}
		font-family: {{event.font | safe}};
		{% endif %}
		{% if event.color %}
		color: {{event.color}};
		{% endif %}
		{% if event.default_card_color %}
		background-color: {{event.default_card_color}};
		{% endif %}
	}
	.group-header{
		{% if event.heading_size %}
		font-size: {{event.heading_size}};
		{% endif %}
	}
	.group-points{
		{% if event.points_size %}
		font-size: {{event.points_size}};
		{% endif %}
	}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
	(function update() {
		$.ajax({
		  url: "api/{{event.slug}}",
		  type: "get",
		  success: function (data) {
			document.querySelectorAll(".group-points").forEach((points_disp) => {
			  var group = points_disp.id.replace("points-", "");
			  var updated_points = data[group];
			  points_disp.innerHTML = updated_points;
			});
		  },
		  failure: function (data) {
			alert("Error loading the points API");
		  },
		}).then(function () {
		  // on completion, restart
		  setTimeout(update, 3000); // function refers to itself
		});
	  })(); // automatically invoke for first run
</script>
{% endblock %}

{% block body %}



<div class="offcanvas offcanvas-start" tabindex="-1" id="event-offcanvas" aria-labelledby="event-offcanvas-label">

	<div class="offcanvas-header">

		<div class="d-flex">
			<a href="{% url 'index' %}" class="d-flex me-3">
				<button type="button" class="btn p-0">
					<i class="bi bi-arrow-left-circle-fill my-auto" style="font-size:1.8em; "></i>
				</button></a>

			<h2 class="offcanvas-title d-flex my-auto" id="event-offcanvas-label">
				{{event.name}}
			</h2>
		</div>

		<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>


	</div>
	<div class="offcanvas-body">

		<form action="" method="post">
			{% csrf_token %}

			<div class="mb-4">
				<div class="input-group input-group-lg">
					<input aria-describedby="New Group" aria-label="New Group" class="form-control" id="input"
						name="name" placeholder="New Group" type="text">
					<button type="submit" class="btn btn-primary" id="submit">
						<i class="bi bi-plus-circle-fill" style="font-size:1em;"></i>
					</button>
				</div>
				<span style="color:red; list-style-type: none;">
					{{ name_form.name.errors }}
					{{ name_form.non_field_errors }}
				</span>

			</div>
		</form>

		<form action="" method="post" class="mb-4 border bg-light p-2">
			{% csrf_token %}

			<div id="form-body" class="py-2">

				{% if css_form.subject.errors %}
				<ol>
					{% for error in form.subject.errors %}
					<li><strong>{{ error|escape }}</strong></li>
					{% endfor %}
				</ol>
				{% endif %}

				{% for field in css_form %}
				<p>
					{{ field.label_tag }}<br>
					{{ field }}

					{% if field.help_text %}
					<br> <small style="color: grey">{{ field.help_text }}</small>
					{% endif %}

					{% for error in field.errors %}
					<p style="color: red">{{ error }}</p>
					{% endfor %}
				</p>
				{% endfor %}
			</div>

			<button type="submit" class="btn btn-primary" id="submit">
				<i class="bi bi-pencil-fill" style="font-size:1em;"></i> Update CSS
			</button>
		</form>

		<form action="" method="post">
			{% csrf_token %}
			<input type="submit" onclick="return confirm('Are you sure you want to reset everyone\'s points?')"
				name="reset" value="Reset All Points" class="btn btn-lg btn-outline-primary mb-2 d-block" />

			<input type="submit" onclick="return confirm('WARNING: Are you sure you want to DELETE {{event.name}}?')"
				name="delete_event" value="DELETE {{event.name}}" class="btn btn-lg btn-danger d-block" />

		</form>
	</div>
</div>


<button id="events-menu" type="button" class="position-relative btn" style="top:0px; z-index: 2" data-bs-toggle="offcanvas"
	href="#event-offcanvas" role="button" aria-controls="event-offcanvas">
	<i class="bi bi-list" style="font-size:2.7em;"></i>
</button>


<div class="container-fluid d-flex h-100 position-absolute top-0">0
	<div class="gy-3 gx-0 gx-lg-3 my-auto w-100 ms-0" id="groups-row" style="    display: grid; grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));">

		{% for group in groups %}

		<div class="h-100">
			<div class="card text-center group-card" style="background-color:{{group.color}}">
				<div class="card-body py-xl-5">
					<h2 class="group-header fw-bold my-0 my-xl-2">{{ group.uppercase_name }}</h2>
					<p class="group-points my-0 my-xl-3" id="points-{{ group.slug }}">{{group.points}}</p>
					<a href="{% url 'group' event.slug group.slug %}" class="stretched-link">
					</a>
				</div>
			</div>
		</div>
		{% empty %}

		<h2>No groups currently listed for {{event}}.</h2>

		{% endfor %}

	</div>
</div>

{% endblock %}