{% extends "layout.html" %}

{% block headerinsert %}
<style>

</style>
{% endblock %}

{% block body %}



<div class="offcanvas offcanvas-start" tabindex="-1" id="event-offcanvas" aria-labelledby="event-offcanvas-label">

	<div class="offcanvas-header">

		<div class="d-flex">
			<a href="{% url 'index' %}" class="d-flex me-3">
				<button type="button" class="btn p-0">
					<i class="bi bi-arrow-left-circle-fill my-auto" style="font-size:1.8em; "></i>
				</button></a>

			<h2 class="offcanvas-title d-flex my-auto" id="event-offcanvas-label">
				{{event.name}}
			</h2>
		</div>

		<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>


	</div>
	<div class="offcanvas-body">

		<form action="" method="post">
			{% csrf_token %}

			<div class="mb-4">
				<div class="input-group input-group-lg">
					<input aria-describedby="New Group" aria-label="New Group" class="form-control" id="input"
						name="name" placeholder="New Group" type="text">
					<button type="submit" class="btn btn-primary" id="submit">
						<i class="bi bi-plus-circle-fill" style="font-size:1em;"></i>
					</button>
				</div>
				<span style="color:red; list-style-type: none;">
					{{ name_form.name.errors }}
					{{ name_form.non_field_errors }}
				</span>

			</div>
		</form>

		<form action="" method="post" class="mb-3 border bg-light p-2">
			{% csrf_token %}

			{{css_form}}

			<button type="submit" class="btn btn-primary d-block mt-3" id="submit">
				<i class="bi bi-pencil-fill" style="font-size:1em;"></i> Update CSS
			</button>

			{% comment %} <div class="mb-4">
				<textarea aria-describedby="Update CSS" aria-label="Update CSS" class="form-control" id="input"
					name="css" placeholder="Update CSS" type="text"></textarea>
				<button type="submit" class="btn btn-primary" id="submit">
					<i class="bi bi-pencil-fill" style="font-size:1em;"></i> Update
				</button>
				<span style="color:red; list-style-type: none;">
					{{ name_form.name.errors }}
					{{ name_form.non_field_errors }}
				</span>
			</div> {% endcomment %}

		</form>

		<form action="" method="post">
			{% csrf_token %}
			<input type="submit" onclick="return confirm('Are you sure you want to reset everyone\'s points?')"
				name="reset" value="Reset All Points" class="btn btn-lg btn-outline-primary mb-2 d-block" />

			<input type="submit" onclick="return confirm('WARNING: Are you sure you want to DELETE {{event.name}}?')"
				name="delete_event" value="DELETE {{event.name}}" class="btn btn-lg btn-danger d-block" />

		</form>
	</div>
</div>


<button type="button" class="position-relative btn" style="top:0px; z-index: 2" data-bs-toggle="offcanvas"
	href="#event-offcanvas" role="button" aria-controls="event-offcanvas">
	<i class="bi bi-list" style="font-size:2.7em;"></i>
</button>


<div class="container-fluid ">
	<div class="row gy-3" id="groups-row">

		{% for group in groups %}

		<div class="col-12 col-lg h-100">
			<div class="card text-center group-card">
				<div class="card-body py-xl-5">
					<h2 class="group-header fw-bold my-0 my-xl-2">{{ group.uppercase_name }}</h2>
					<p class="group-points my-0 my-xl-3">{{ group.points }}</p>
					<a href="{% url 'group' event.slug group.name %}" class="stretched-link">
					</a>
				</div>
			</div>
		</div>
		{% empty %}

		<h2>No groups currently listed for {{event}}.</h2>

		{% endfor %}

	</div>
</div>

{% endblock %}