{% extends "layout.html" %}
{% load static %}

{% block title %}
{{group.uppercase_name}}: {{group.points}} Points
{% endblock title %}

{% block headerinsert %}
<script src="{% static 'counter/update_points.js' %}"></script>
{% endblock %}

{% block body %}

<a href="{% url 'event' event.slug %}">
	<button type="button" class="btn" style="top:0px;">
		<i class="bi bi-arrow-left-circle-fill" style="font-size:2.7em;"></i>
	</button></a>
<a href="{% url 'history' event.slug group.name %}">
	<button type="button" class="btn">
		<i class="bi bi-clock-history" style="font-size:2.7em;"></i>
	</button></a>
<form action="" method="post" class="d-inline position-absolute end-0">
	{% csrf_token %}
	<button type="submit" class="btn" name="delete_group"
		onclick="return confirm('Are you sure you want to delete {{group.uppercase_name}}?')">
		<i class="bi bi-trash-fill" style="font-size:2.7em;"></i>
	</button></a>
</form>

<div class="container text-center pb-5">

	<h1 class="group-header">{{group.uppercase_name}}</h1>
	<p class="group-points my-0 my-xl-3">{{ group.points }}</p>

	<form action="" method="post" class="mt-4">
		{% csrf_token %}

		<div class="col-12 col-sm-8 col-md-6 col-lg-4 mx-auto">

			<div class="input-group input-group-lg mb-3">
				<input type="number" name="offset" class="form-control" placeholder="Any number" aria-label="Any number"
					aria-describedby="Any number" id="input">
				<button type="submit" class="btn btn-primary" id="submit">Submit</button>
			</div>

			<div>
				<button type="button" class="btn btn-outline-success fixed-values">1</button>
				<button type="button" class="btn btn-outline-success fixed-values">5</button>
				<button type="button" class="btn btn-outline-success fixed-values">10</button>
				<button type="button" class="btn btn-outline-success fixed-values">50</button>
				<button type="button" class="btn btn-outline-success fixed-values">100</button>
				<button type="button" class="btn btn-outline-success fixed-values">500</button>
			</div>

			<button type="reset" class="btn btn-outline-danger points-btn">Clear</button>

			<input type="submit"
				onclick="return confirm('Are you sure you want to reset {{group.uppercase_name}}\'s points?')"
				name="reset" value="Reset" class="btn btn-outline-primary points-btn" />

		</div>

	</form>

</div>

<div class="border-top border-bottom bg-light">

	<form action="" method="post" class="py-3 container text-center">
		{% csrf_token %}
		<div class="my-3">
			{{css_form.color.label}}
			: {{css_form.color}}
			{% if group.color %}
			<div style="display:inline-flex;height:0.8em;width:0.8em;background-color:{{group.color}};"></div>
			{% else %}
			[None]
			{% endif %}
		</div>

		<button type="submit" class="btn btn-primary" id="submit-group-card-color">
			<i class="bi bi-pencil-fill" style="font-size:1em;"></i> Update CSS
		</button>

		<span style="color:red; list-style-type: none;">
			{{ name_form.name.errors }}
			{{ name_form.non_field_errors }}
		</span>
	</form>

</div>

{% endblock %}