{% extends "layout.html" %}
{% load static %}

{% block title %}
{{group.uppercase_name}}: {{group.points}} Points
{% endblock title %}

{% block headscripts %}
<script src="{% static 'counter/update_points.js' %}"></script>
{% endblock headscripts %}

{% block body %}

<a href="{% url 'event' event.slug %}">
	<button type="button" class="btn" style="top:0px;">
		<i class="bi bi-arrow-left-circle-fill" style="font-size:2.7em;"></i>
	</button></a>
<a href="{% url 'history' event.slug group.name %}">
	<button type="button" class="btn">
		<i class="bi bi-clock-history" style="font-size:2.7em;"></i>
	</button></a>
<form action="" method="post" class="d-inline position-absolute end-0">
	{% csrf_token %}
	<button type="submit" class="btn" name="delete_group"
		onclick="return confirm('Are you sure you want to delete {{group.uppercase_name}}?')">
		<i class="bi bi-x-circle-fill" style="font-size:2.7em;"></i>
	</button></a>
</form>


<div class="container text-center">

	<h1 class="group-header">{{group.uppercase_name}}</h1>
	<p class="group-points my-0 my-xl-3">{{ group.points }}</p>

	<form action="" method="post" class="mt-4">
		{% csrf_token %}

		<div class="col-8 col-lg-3 mx-auto">

			<div class="input-group input-group-lg mb-3">
				<input type="number" name="offset" class="form-control" placeholder="Any number" aria-label="Any number"
					aria-describedby="Any number" id="input">
				<button type="submit" class="btn btn-primary" id="submit">Submit</button>
			</div>

			<div>
				<button type="button" class="btn btn-outline-success fixed-values">1</button>
				<button type="button" class="btn btn-outline-success fixed-values">5</button>
				<button type="button" class="btn btn-outline-success fixed-values">10</button>
				<button type="button" class="btn btn-outline-success fixed-values">50</button>
				<button type="button" class="btn btn-outline-success fixed-values">100</button>
				<button type="button" class="btn btn-outline-success fixed-values">500</button>
			</div>

			<button type="reset" class="btn btn-outline-danger points-btn">Clear</button>

			<input type="submit"
				onclick="return confirm('Are you sure you want to reset {{group.uppercase_name}}\'s points?')"
				name="reset" value="Reset" class="btn btn-outline-primary points-btn" />
		</div>

	</form>

</div>

{% endblock %}