{% extends "layout.html" %}

{% block body %}

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
	<div class="offcanvas-header">
		<h3 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h3>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">

		{% for event in events %}
		<a href="{% url 'event' event %}" class="btn btn-primary btn-lg">{{event.name}}</a>
		{% endfor %}

	</div>
</div>

<button type="button" class="position-relative btn btn-floating" style="top:0px; z-index: 2" data-bs-toggle="offcanvas"
	href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
	<i class="bi bi-list" style="font-size:2.7em;"></i>
</button>


<div class="container-fluid ">
	<div class="row gy-3" id="events-row">

		{% for event in events %}

		<div class="col-12 col-lg h-100">
			<div class="card text-center event-card">
				<div class="card-body py-xl-5">
					<h2 class="event-header fw-bold my-0 my-xl-2">{{ event.name }}</h2>
					<a href="{% url 'event' event.slug %}" class="stretched-link">
					</a>
				</div>
			</div>
		</div>

		{% endfor %}

	</div>
</div>

{% endblock %}